<!DOCTYPE html>
<html>
<head>
  <title>abcd</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<body>
  <div class="container">
   <div class="clearfix gutter-condensed">
     <div class="column three-fourths codesearch-results pr-6">
       <div class="row">
         <div class="col-lg-8 col-lg-offset-2">

  <ul class="repo-list js-repo-list">
    <h3>
      {{count}} repository results
    </h3>
    <hr>
<div class="repo-list-item d-flex flex-justify-start py-4 public source">
 <div class="col-8 pr-3">
   <h3>
     <a href="/wchaowu/nodejs" class="v-align-middle">wchaowu/<em>nodejs</em></a>
   </h3>

     <p class="col-9 d-inline-block text-gray mb-2 pr-4">
       node.js mongodb Demo
     </p>


     <p class="f6 text-gray mb-0 mt-2">
       Updated <relative-time datetime="2016-08-23T09:25:15Z">Aug 23, 2016</relative-time>
     </p>
 </div>

 <div class="d-table-cell col-2 text-gray pt-2">
       <span class="repo-language-color ml-0" style="background-color:#f1e05a;"></span>
     JavaScript
 </div>

   <div class="col-2 text-right pt-1 pr-3 pt-2">
     <a class="muted-link" href="wchaowu/nodejs/stargazers">
       <svg aria-label="star" class="octicon octicon-star" height="16" role="img" version="1.1" viewBox="0 0 14 16" width="14"><path fill-rule="evenodd" d="M14 6l-4.9-.64L7 1 4.9 5.36 0 6l3.6 3.26L2.67 14 7 11.67 11.33 14l-.93-4.74z"/></svg>
       342
     </a>
   </div>
</div>
<hr>
<div class="repo-list-item d-flex flex-justify-start py-4 public source">
  <div class="col-8 pr-3">
    <h3>
      <a href="/0532/nodejs" class="v-align-middle">0532/<em>nodejs</em></a>
    </h3>

      <p class="col-9 d-inline-block text-gray mb-2 pr-4">
        <g-emoji alias="book" fallback-src="https://assets-cdn.github.com/images/icons/emoji/unicode/1f4d6.png" ios-version="6.0">📖</g-emoji> <em>nodejs</em>中文文档<g-emoji alias="tm" fallback-src="https://assets-cdn.github.com/images/icons/emoji/unicode/2122.png" ios-version="6.0">™️</g-emoji>
      </p>


      <p class="f6 text-gray mb-0 mt-2">
        Updated <relative-time datetime="2016-11-07T01:32:41Z">Nov 7, 2016</relative-time>
      </p>
  </div>

  <div class="d-table-cell col-2 text-gray pt-2">
  </div>

    <div class="col-2 text-right pt-1 pr-3 pt-2">
      <a class="muted-link" href="0532/nodejs/stargazers">
        <svg aria-label="star" class="octicon octicon-star" height="16" role="img" version="1.1" viewBox="0 0 14 16" width="14"><path fill-rule="evenodd" d="M14 6l-4.9-.64L7 1 4.9 5.36 0 6l3.6 3.26L2.67 14 7 11.67 11.33 14l-.93-4.74z"/></svg>
        415
      </a>
    </div>
</div>

</ul>

<div class="paginate-container">
      <div class="pagination" data-pjax="true"><span class="previous_page disabled">Previous</span> <em class="current">1</em> <a rel="next" href="/search?p=2&amp;q=nodejs&amp;type=Repositories&amp;utf8=%E2%9C%93">2</a> <a href="/search?p=3&amp;q=nodejs&amp;type=Repositories&amp;utf8=%E2%9C%93">3</a> <a href="/search?p=4&amp;q=nodejs&amp;type=Repositories&amp;utf8=%E2%9C%93">4</a> <a href="/search?p=5&amp;q=nodejs&amp;type=Repositories&amp;utf8=%E2%9C%93">5</a> <span class="gap">&hellip;</span> <a href="/search?p=99&amp;q=nodejs&amp;type=Repositories&amp;utf8=%E2%9C%93">99</a> <a href="/search?p=100&amp;q=nodejs&amp;type=Repositories&amp;utf8=%E2%9C%93">100</a> <a class="next_page" rel="next" href="/search?p=2&amp;q=nodejs&amp;type=Repositories&amp;utf8=%E2%9C%93">Next</a></div>
    </div>
    
</div>
</div>
</div>
</body>
</html>
